<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.access.common.net.URLEvaluator">
                <URL>/actuator</URL>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
            <providers>
                <!--
                  Configuring the default Logstash providers in the same order as LogstashAccessEncoder.
                  Messages are added after the custom fields
                -->
                <timestamp/>
                <version/>
                <method/>
                <protocol/>
                <statusCode/>
                <requestedUrl/>
                <requestedUri/>
                <remoteHost/>
                <contentLength/>
                <elapsedTime/>

                <!--
                  Adding custom fields
                -->
                <threadName/>
                <pattern>
                    <pattern>
                        {
                            "applicationVersion": "@project.version@",
                            "handler_type": "%requestAttribute{handler_type}",
                            "handler_class": "%requestAttribute{handler_class}",
                            "handler_method": "%requestAttribute{handler_method}"
                        }
                    </pattern>
                </pattern>

                <!--
                  Adding message at end. Makes it easier to find for people not using JQ or similar
                -->
                <message/>
            </providers>
        </encoder>
    </appender>

    <appender-ref ref="STDOUT" />
</configuration>
